<!DOCTYPE html>
<html>
<head>
    <title>Tarefas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilo.css') }}">

</head>
<body>
    <h1>Tarefas</h1>
    <ul>
        {% for task in tasks %}
        <li>
            <h3>{{ task.title }}</h3>
            <p>{{ task.description }}</p>
            <p>Prazo: {{ task.due_date }}</p>
            <a href="/edit_task/{{ loop.index }}">Editar</a>
            <a href="/delete_task/{{ loop.index }}">Excluir</a>
        </li>
        {% endfor %}
    </ul>
    <h2>Criar Nova Tarefa</h2>
    <form action="/create_task" method="POST">
        <label for="title">Título:</label>
        <input type="text" name="title" required>
        <br>
        <label for="description">Descrição:</label>
        <textarea name="description" required></textarea>
        <br>
        <label for="due_date">Prazo:</label>
        <input type="date" name="due_date" required>
        <br>
        <input type="submit" value="Criar Tarefa">
    </form>
</body>
</html>


